{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		 <link href="{%static 'fonts/TitilliumWeb-Italic.ttf' %}" rel="stylesheet"> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
		<!-- Optional theme -->
		<link rel="stylesheet" href="{%static 'css/bootstrap-theme.min.css' %}" >
		<!-- Latest compiled and minified JavaScript -->
		<script src="{%static 'js/jquery-3.2.0.min.js' %}"></script>
		<script src="{%static 'js/bootstrap.js' %}"></script>
		<script src="{%static 'js/bootstrap.js' %}"></script>
		{%block CSS%}
		{%endblock CSS%}
	</head>
	<body>
		{% block content %}
		{% endblock content %}
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>